*{
  margin: 0;
  padding: 0;
  background-origin: border-box;
}

#header{
  top: 40px;
  position: relative;
  font-family: sans-serif;
  background-color: coral;
  height: 50px;

}

body { 
  background-image: no-repeat; 
  opacity: 70%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(183, 236, 240);
}


#log_in{
  background-color: rgb(187, 154, 224);
  color: rgba(3, 3, 1, 0.863);
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  float: right;
  height: 40px;
  opacity: 0.9;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;

}

.log_in_btn{
  width: 35px;
  height: 35px;
  font-size: large;
  font-weight: bold;
  color: #000000;
  
}

button:hover {
  opacity:1;
}


.lines{
  width: 100%;
  font-size: 20px;
  font-family: sans-serif;
  color: #1a1715;
  float: right;
  animation-name: example;
  position: relative;
  animation-duration: 4s;
  animation-iteration-count: infinite;

} 
@keyframes example {
  0%   {top:0px;}
  50%  {top:50px;}
  100% {top:0px;}
}


#user_name{
  height: 30px;
  width: 30%;
  font-size: medium;
  font-family: sans-serif;

  
}

.user{
  font-size: xx-large;
  font-weight: bolder;

}

.pickAvatarBtn{
  background: #dbca34;
  width: 380px;
  padding: 4px 0;
  font-size: xx-large;
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
}

.pickedAvt{
  width: 500px;
  position: fixed;
  left: 30%;
  top: 30%;

}

.pickedAvtForm{
  position: fixed;
  left: 60%; 
  top: 30%;
  width: 300px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}

input[type="text"]{
  width: 300px;

  height: 50px;
  font-size: medium;
}

input[type="submit"]{
  width: 60px;
  height: 30px;
  font-size: medium;
}


.robot{
  font-family: "lazerz additktz";
  color: rgb(191, 197, 199);
  padding: 10px;
}

/* #leader-board{
  font-weight: bolder;
  color: black;
} */

#grid {
  padding-left: 20%;
  position: middle;
  display: inline-grid;
  grid-template-rows:    repeat(6,1fr);
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
  
  
}

.center-tile {
  grid-row:    2 / 6;
  grid-column: 2 / 6;
  border-radius: 15px;
  text-align: center;
  border: 3px solid #757575;
  background-image: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/999/s300/flatironschool.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tile {
  color: rgba(11, 79, 108, 1);
  background-color: rgba(0, 179, 230, 1);
  border-radius: 15px;
  text-align: center;
  border: 3px solid #757575;
  height: 100px;
  width: 100px;
}

div.dice{
  float: center;
  width:32px;
  background: #f5f5f5;
  border: #999 1px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

.dieBtn{
  float: left;
  padding: 5px;
  border: #999 1px solid;
  border-radius: 20px;
}
.avatarCircle {
  height: 30px;
  width: 30px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
}

.avatars,img{
  width: 240px;
}

#userInfo{
  position: absolute;
  top: 50px;
  border: 3px solid rgb(230, 143, 14);
}